.AddNewItemContainer{
    position: fixed;
    top:50px;
    right:50px;
}

.AddNewItemHeader{
    background-color: rgba(var(--gtd-orange),0.3);
    border: 1px solid rgba(var(--gtd-orange),1);
    height: 2rem;
    border-radius: 2rem;
    text-align: center;
    display:grid;
    align-content: center;
    padding: 0 1rem;
}

.AddNewItem-item{
    width: 80%;
    margin: auto;
    border: 1px solid rgba(var(--gtd-orange),1);
    background-color: rgba(var(--gtd-orange),0.1);
    border-radius: 2rem;
    height:1.5rem;
    display:grid;
    align-content: center;
}