.EditableListContainer{
    position:absolute;
    top: 2.1rem;
    right:-100%;;
    width:300%;
    border:1px solid rgba(var(--gtd-orange),1);
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.ShareWithContainer{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}