.AddMenuContainer{
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin-top: 1rem;
}

.AddItemSVG{
    height: 1.5rem;
}

.AddItem{
    color:rgba(var(--gtd-black),1);
    font-weight: bold;
    text-align: left;
    padding-left: 0.5rem;
    padding-right:0.5rem;
    height: 1.5rem;
    display:grid;
    align-content: center;
}

.AddItem:hover{
    color:rgba(var(--gtd-orange),1);
    cursor: pointer;
}

.AddMenuContainerPositioner{
    position: relative;
}

.AddItemsContainer{
    position: absolute; 
    width:100%;   
    border-radius: 5px;
    border: 1px solid rgba(var(--gtd-orange),1);
    z-index: 10;
}

.AddItemsListCloseBackdrop{
    position:fixed;
    top:0%;
    right:0%;
    height: 100vh;
    width:100vw;
    z-index:2;
}

@media(max-width:1400px){
    .AddItemsContainer{
        position: absolute;  
        width:120%;  
        border-radius: 5px;
        border: 1px solid rgba(var(--gtd-orange),1);
        z-index: 10;
    }
}

@media(max-width:1100px){
    .AddItemsContainer{
        position: absolute;  
        width:130%;  
        border-radius: 5px;
        border: 1px solid rgba(var(--gtd-orange),1);
        z-index: 10;
    }
}

@media(max-width:1000px){
    .AddItemsContainer{
        position: absolute;  
        width:130%;  
        border-radius: 5px;
        border: 1px solid rgba(var(--gtd-orange),1);
        z-index: 10;
    }
}

@media(max-width:930px){
    .AddItemsContainer{
        position: absolute;  
        width:140%;  
        border-radius: 5px;
        border: 1px solid rgba(var(--gtd-orange),1);
        z-index: 10;
    }
}

@media(max-width:860px){
    .AddItemsContainer{
        position: absolute;  
        width:160%;  
        border-radius: 5px;
        border: 1px solid rgba(var(--gtd-orange),1);
        z-index: 10;
    }
}
