.NextActioncontainer{
    width:90%;
    border: 1px solid rgb(var(--gtd-orange));
    border-radius:2rem;
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 1fr 1fr;
    align-content: center;
    margin:auto;

}

.CenterTitle {
    display: grid;
    align-content: center;
    text-align: left;
    margin-left:20%;

}

.DeleteIcon{
    height: 1rem;
    display: grid;
    justify-content: center;
}

.Notes {
    text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
}
