.TopicTitleContainer{
    display: grid;
    height: 2rem;
    grid-template-columns: 10fr 1fr;
    align-content: center;
    justify-content: center;
}

.TopicHeader{
    background-color: rgba(var(--gtd-orange),0.5);
    display:grid;
    grid-template-columns: var(--task-columns);
    
    border: 3px solid rgb(var(--gtd-orange));
    border-bottom: 1px solid rgba(var(--gtd-orange),0.5);
}

.TopicTitle{
    text-align: left;
    cursor: url("../../images/editSmall.svg") 0 32, auto;
    color: rgba(var(--gtd-orange),1);
    font-weight: bold;
}

.TopicTitleInput:focus{
    width: 100%;
    text-align: left;
    display: inline-block;
    margin: 0 0 ;
    color: rgba(var(--gtd-orange),1);
    font-size: 1rem;
    font-weight: bold;
    outline:none;
    border:0;
    padding: 0;
}

.HeaderItem{
    border-left: 1px solid rgba(var(--gtd-orange),0.5);
}

.TopicContent{
    margin:auto;
    border-bottom: 3px solid rgb(var(--gtd-orange));
    border-top: none;
}

.Topic{
    width:90%;
    margin: 2rem auto 0;
}

.AddNewTaskButton{
    height: 1.5rem;
}

.AddNewTaskButtonContainer {
    margin-left: 0px;
    display:grid;
    align-content: left;
}

.DeleteTask{
    color:rgba(var(--gtd-orange))
}