.TopicHeader{
    background-color: rgba(var(--gtd-orange),0.5);
    display:grid;
    grid-template-columns: var(--task-columns);
    
    border: 3px solid rgb(var(--gtd-orange));
    border-bottom: 1px solid rgba(var(--gtd-orange),0.5);
}

.TopicTitle{
    text-align: left;
    margin: 0 0 1rem 1rem;
    color: rgba(var(--gtd-orange),1);
    font-weight: bold;
}

.TopicTitleInput:focus{
    width: 100%;
    text-align: left;
    margin: 0 0 1rem 1rem;
    color: rgba(var(--gtd-orange),1);
    font-size: 1rem;
    font-weight: bold;
    outline:none;
    border:none;
    padding: none;
}

.HeaderItem{
    border-left: 1px solid rgba(var(--gtd-orange),0.5);
}

.TopicContent{
    margin:auto;
    border-bottom: 3px solid rgb(var(--gtd-orange));
    border-top: none;
}

.Topic{
    width:90%;
    margin: 2rem auto 0;
}

.AddNewTaskButton{
    height: 1.5rem;
}

.AddNewTaskButtonContainer {
    margin-left: 0px;
    display:grid;
    align-content: left;
}