.Textarea{
    border: none;
    border: 2px solid rgba(var(--gtd-orange),1);
    margin:auto;
    width:80%;
    height: 1.5rem;
    height: 6rem;
}

.Textarea:focus{
    outline: none;
}

.TextareaTitle{
    margin: 3rem auto 1rem 10%;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    color: rgb(var(--gtd-orange));
}