.Filters{
    margin-bottom: 0.3rem;
}

.FilterHeader{
    background-color: rgba(var(--gtd-orange),0.3);
    border: 1px solid rgba(var(--gtd-orange),1);
    height: 2rem;
    border-radius: 2rem;
    text-align: center;
    display:grid;
    align-content: center;
    padding: 0 1rem;
}

.Filter-item{
    width: 80%;
    margin: auto;
    border: 1px solid rgba(var(--gtd-orange),1);
    background-color: rgba(var(--gtd-orange),0.1);
    border-radius: 2rem;
    display:grid;
    align-content: center;
    word-wrap: break-word;
}