.MyFrameListContainer{
    margin: 1rem 0;
}

.MyFrameListTitleContainer{
    margin:auto;
    width:80%;
    text-align:center;
    border-bottom: 1px solid rgba(var(--gtd-orange),0.8)
}

.MyFrameListHeader{
    
}

.MyFrameListTitleInput:focus{
    margin:auto;
    width:80%;
    text-align:center;
    background: none;
    border: none;
    outline: none;
    height: 1.125rem;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding:0px;
    resize:none;
    vertical-align: bottom;
}

.AddNewTaskToList{
    opacity: 0.2;
}

.AddNewTaskToList:hover,
.AddNewTaskToList:active{
    opacity: 1;
}