:root{
  --basic-color: 14, 164, 175;
  --gtd-black:50,50,50;
  --gtd-orange: 255, 100, 0;
  --task-columns: 2fr 3fr 3fr 1fr 1.3fr 2fr 0.5fr;
}

html {
  height:100%;
  font-family: 'Montserrat', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height:100%;
}

#root {
  min-height:100vh;
}

.App{
  min-height:100vh;
}
