.PrivatePageMenu{
    position: fixed;
    top:10px;
    left:25%;
    width:57%;
    border-bottom: 3px double rgba(var(--gtd-orange),1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:1.5rem;
    align-items: center;
    font-weight: bold;

    background-color: rgba(var(--gtd-orange),0.0);
}

.AddNewListItem{
    color:rgba(var(--gtd-black),0.8);
    cursor: pointer;
    text-align: left;
    padding: 0 10%;
    /*margin-left: -50%;*/
}

.ActiveFilter{
    color:rgba(var(--gtd-black),0.8);
    cursor: pointer;
    text-align: right;
    padding: 0 10%;
}